.sidebar
    border-right: 1px solid #eee
    .nav-list
        list-style-type: none
    .nav-item
        .nav-link
            border: solid 1px #6c8ebf
            width: 100%
            display: block
            padding: 5px
            text-decoration: none
            color: #000
            font-size: 18px
            margin-bottom: 5px
            &.active-link
                background-color: #dae8fc
                font-weight: 600
